@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0em;
}

h1, h2, h3, h4, h5, p, a, li, td, th {
    font-family: "Roboto", sans-serif;
}
h1 {
    margin-top: 0;
}

.grid {
    display: grid;
}

#mainNav {
    text-align: center;
    background: #6200ee;
}
#mainNav a {
    padding: 1em 2em;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    background: transparent;
}
#mainNav a:hover {
    background: #4200ce;
    box-shadow: 0px 0px 2px 4px rgba(10, 10, 10, 0.041) inset;
}

#aboutPanel {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1em;
    margin: 2em;
}
#aboutPanel #info {
    font-size: 1.6em;
    grid-column: 1/3;
    grid-row: 1/2;
}
#aboutPanel img {
    grid-column: 3/4;
    grid-row: 1/2;
}
