@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0em;
}

img {
    background: #dedede;
}

h1, h2, h3, h4, h5, p, a, li, td, th {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 3.5em;
}
h2 {
    font-size: 2.2em;
}
h3 {
    font-size: 1.9em;
}

section {
    padding: 1em;
}

#info h1 {
    margin-top: 0;
    color: #222;
}

.grid {
    display: grid;
}

#mainNav {
    text-align: center;
    background: #6200ee;
}
#mainNav a {
    padding: 1em 2em;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    background: transparent;
}
#mainNav a:hover {
    background: #4200ce;
    box-shadow: 0px 0px 2px 4px rgba(10, 10, 10, 0.041) inset;
}

#aboutPanel {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1em;
    margin: 2em;
}
#aboutPanel #info {
    grid-column: 1/3;
    grid-row: 1/2;
}
#aboutPanel img {
    grid-column: 3/4;
    grid-row: 1/2;
}

#projects {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
    padding: 1em;
}
.project {
    grid-area: span 1 / span 1;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
    padding: 1em;
    border-radius: 2px;
    transition: all .2s;
}
.project:hover {
    box-shadow: 0px 2px 7px 3px rgba(0,0,0,0.2);
}
.project h2 {
    margin-top: 0em;
}
.projectImage {
    height: 200px;
    width: 100%;
}
.projectDescription {
    color: #555;
    font-size: .9em;
    margin-bottom: 0em;
}